* {
  word-break: keep-all;
}

@media (min-width: 576px) {

  body {
    padding: 0px;
  }

  .pl-40 {
    padding-left: 0px;
    padding-top: 0px;
  }

 }

 @media (min-width: 768px), @media (min-width: 992px), @media (min-width: 1200px) {

   body {
     padding: 30px;
   }

   .pl-40 {
     padding-left: 40px;
     padding-top: 20px;
   }

  }

html, body {
  height: 100%;
  margin: 0;
}

.header {
  position: fixed;
  display: block;
  box-sizing: border-box;
  top: 0;
  left: 0;
  z-index: 1020;
  width: 100%;
  text-align: center;
}

.title-- {
   font-size: 4rem;
   line-height: 1.7em;
}

.subtitle-- {
  font-size: 3rem;
  line-height: 1.7em;
}

.p-- {
  font-size: 1rem;
  line-height: 1.7rem;
}

.header-sub {
  position: fixed;
  display: block;
  box-sizing: border-box;
  top: 0;
  left: 0;
  z-index: 1020;
  width: 100%;
  text-align: left;
}

.header-row-1 {
  display: inline-block;
  box-sizing: border-box;
  background-color: #fff;
  padding: 15px 15px 12px 15px;
  width: 100%;
}

.header-row-2 {
  display: inline-block;
  box-sizing: border-box;
  background-color: #fff;
  border-bottom: 2px solid #000;
  padding: 15px 15px 12px 15px;
  width: 100%;
}

.header-row-item {
  font-size: 1.75rem !important;
  color: #000;
  font-weight: 500;
  padding: 0 15px;
}

.mt-130 {
  margin-top: 130px;
}

.border--top {
  border-top: 1px solid #000;
  padding-top: 1.5rem;
  margin-top: 1.1rem;
}

.border--top--2 {
  border-top: 2px solid #000;
  padding-top: 1.5rem;
  margin-top: 1.1rem;
}

.bold-- {
  font-weight: revert;
}

.bold-700 {
  font-weight: 700;
}

.text-muted-- {
  color: #95a1ab;
}

.line-height-- {
  line-height: 1.7em;
}

.container {
  min-height: 100%;
  margin-bottom: -50px;
}

.push {
  height: 50px;
}

.footer {
  height: 50px;
  padding-left: 15px;
}

@media only screen and (min-width : 1200px) {

    .container { max-width: 100%; }

}

.title {
  font-size: 62px !important;
  font-weight: 500 !important;
}

.task {
  font-size: 42px;
  color: #000;
  padding: 5px 20px;
  margin: 12px;
  font-weight: 700;
}

.back {
  color: #000;
  font-weight: 700;
  padding: 5px 20px;
  margin: 12px;
}

.img-screen {
  max-width: 200px;
  border: 1px solid #ccc;
}

a.task:hover, a.category:hover
 {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  transition: box-shadow 0.2s ease-in-out;
}

a, a:hover, a:link, a:visited, a:active
{
  text-decoration: none !important;
}

.task > p, .category > p
{
  font-size: 14px;
}

.category {
  font-size: 42px;
  color: #6c757d;
  padding: 5px 20px;
  margin: 12px;
  font-weight: 700;
}

.category.sm, .task.sm {
  font-size: 16px !important;
  color: #000 !important;
  font-weight: 700;
}

h1, h6 {
    font-weight: 700;
}

/* circled number */
ol {
  /* max-width: 350px; */
  counter-reset: my-awesome-counter;
  list-style: none;
  padding-left: 40px;
  color: #95a1ab;
}
ol li {
  margin: 0 0 0.5rem 0;
  counter-increment: my-awesome-counter;
  position: relative;
}
ol li::before {
  content: counter(my-awesome-counter);
  color: #000;
  font-size: 0.7rem;
  font-weight: 800;
  position: absolute;
  --size: 24px;
  left: calc(-1.2 * var(--size) - 9px);
  line-height: 1.3rem;
  width: var(--size);
  height: var(--size);
  top: 0px;
  background: #fff;
  border-radius: 50%;
  border: 2px solid #000;
  text-align: center;
}

.ex {
  font-size: 14px;
}

.screenflow {
  max-height: 800px;
}
